@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our big sales, choose a product to buy</h1>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>
                Kleenex Viva Paper Towel White 6 pack
            </td>
            <td><img src="https://cdn0.woolworths.media/content/wowproductimages/medium/573468.jpg" alt="Alternate Text" /></td>
            <td>$400</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>
                Handee Ultra Paper Towel Print 2ply 180ss 3 pack
            </td>
            <td><img src="https://cdn0.woolworths.media/content/wowproductimages/medium/252038.jpg" alt="Alternate Text" /></td>
            <td>$2500</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>
                Vevelle Recycled Paper Towel 2 Ply 2 pack
            </td>
            <td><img src="https://cdn0.woolworths.media/content/wowproductimages/medium/067115.jpg" alt="Alternate Text" /></td>
            <td>$200</td>
        </tr>
    </tbody>
</table>
